@media (min-width: 992px) {
    .navbar {
        margin-left: 150px;
        margin-right: 150px;
    }
    
}

@media (min-width: 700px) {
    .navbar {
        margin-left: 150px;
        margin-right: 150px;
    }
    
}

@media (min-width: 600px) {
    .navbar {
        margin-left: 70px;
        margin-right: 70px;
    }
    
}

